[submodule "platform/ext/CMSIS"]
	path = platform/ext/CMSIS
	url = https://github.com/ARM-software/CMSIS.git
[submodule "platform/ext/DaisySP"]
	path = platform/ext/DaisySP
	url = https://github.com/electro-smith/DaisySP
